/* Javier Suárez Guzmán
Noviembre 2022 */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
  }
  body {
    font-family: "Quicksand", Sans-Serif;
  
    margin: 0;
    background-color: #f4f9ff;
    padding-inline: 10vw;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 10%;
}

.header {
    z-index: 1;
    position: fixed;
    overflow: hidden;
    background-color: white;
    top: 0;
    margin: 0;
    padding: 0;
    padding-inline: 20%;
    margin-left: -20%;
    width: 80%;
    
    /*display: flex;
    align-items:center;
    justify-content: center;*/
}

.center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar {
    /*padding-top: 20px;*/
    text-align: center;
}

.searchinput {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 420px;
    background: #f1f1f1;
  }

.searchbutton {
    float: right;
    padding: 10px;
    background: lightskyblue;
    color: white;
    font-size: 16px;
    border: 1px solid grey;
    border-left: none;
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: transparent;
}

li {
    text-align: start;
    list-style-type: none;
    display: inline;
    float: left;
}

.a2 {
    display: block;
    color: grey;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

li .a2:hover {
    color: lightskyblue;
}


.grid-container {
    /*margin-inline: 10%;*/
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: white;
    border-radius: 3px;
    margin: 10px;
    margin-inline: 20px;
    padding: 10px;
    text-align: center;
}

.grid-item:hover {
    background-color: lightgrey;
}

.a-grid {
    text-decoration: none;
}


/*https://www.geeksforgeeks.org/how-to-make-a-carousel-using-css/*/
        /* ----- slideshow stylings ----- */
    .slideshow {
        border-radius: 6px;
    padding-top: 69px;
    height: 500px;
    overflow: hidden; /* to hide slides in x-direction */
    }
    /* wrapper which wraps all the slideshow images stylings */
    .slideshow-wrapper {
    display: flex;
    /* We give it width as 400% because we are making a 
       4 image carousel. If you want to make for example, 
       5 images carousel, then give width as 500%. */
    width: 500%;
    height: 100%;
    position: relative;
    /* you can change the animation settings from below */
    animation: slideshow 20s infinite;
    }
    /* define width and height for images*/
    .slide {
    width: 100%;
    height: 100%;
        }
    .slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    /* @keyframes are used to provide animations
       We make these settings for 4 image carousel.
       Make modification according to your needs. */
    @keyframes slideshow {
    0%  {left: 0;}
    10% {left: 0;}
    15% {left: -100%;}
    25% {left: -100%;}
    30% {left: -200%;}
    40% {left: -200%;}
    45% {left: -300%;}
    55% {left: -300%;}
    60% {left: -200%;}
    70% {left: -200%;}
    75% {left: -100%;}
    85% {left: -100%;}
    90% {left: 0%}
    }
    /* ----- end of slideshow stylings ----- */


/*esta contendrá el resultado de cada búsqueda */
.tarjeta {
    min-height: 150px;
    max-height: 210px;
    overflow: hidden;
    background-color: white;
    padding: 1.25rem;
    margin-top: 1em;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    margin-inline: 7%;
    /*margin-inline-start: 7%;
    margin-inline-end: 7%;*/
}

.grid-tarjeta {
    padding: 2px;
    column-count:3;
    /*display: grid;
    grid-template-columns: auto auto;*/
}

.tarjeta-imagen {
    column-span: 1;
    margin: 0;
}
.tarjeta-imagen img {
    /*no puedo centrar verticalmente */
}

.tarjeta-texto {
    column-span: 2;
}


.footer {
    margin-top: 69px;
    padding-top: 23px;
    padding-bottom: 42px;
    margin-inline: -10vw;
    background-color: rgb(193, 199, 206);
    text-align: center;
}
.firma {
    display: flex;
    align-items:center;
    justify-content: center;
}


.input-form {
    float:right; 
    
    padding: 7px;
    border: 1px solid grey;
    width: 250px;
    background:white;
}

.button-form {
    margin-inline: 33%;
    padding: 10px;
    padding-inline: 69px;
    background: lightskyblue;
    color: black;
    font-size: 16px;
    border: 1px solid grey;
}