body {
    margin: 0;
    background-color: transparent;
    padding-inline: 10vw;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 10%;
}

.header {
    z-index: 1;
    position: fixed;
    overflow: hidden;
    background-color: white;
    top: 0;
    margin: 0;
    padding: 0;
    width: 80%;
    
    /*display: flex;
    align-items:center;
    justify-content: center;*/
}

.searchbar {
    /*padding-top: 20px;*/
    text-align: center;
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: transparent;
}

li {
    text-align: start;
    list-style-type: none;
    display: inline;
    float: left;
}

.a2 {
    display: block;
    color: blue;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

li .a2:hover {
    background-color: lightskyblue;
}


.grid-container {
    /*margin-inline: 10%;*/
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    margin: 1px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


/*https://www.geeksforgeeks.org/how-to-make-a-carousel-using-css/*/
        /* ----- slideshow stylings ----- */
    .slideshow {
    padding-top: 69px;
    height: 420px;
    overflow: hidden; /* to hide slides in x-direction */
    }
    /* wrapper which wraps all the slideshow images stylings */
    .slideshow-wrapper {
    display: flex;
    /* We give it width as 400% because we are making a 
       4 image carousel. If you want to make for example, 
       5 images carousel, then give width as 500%. */
    width: 500%;
    height: 100%;
    position: relative;
    /* you can change the animation settings from below */
    animation: slideshow 20s infinite;
    }
    /* define width and height for images*/
    .slide {
    width: 100%;
    height: 100%;
        }
    .slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
    /* @keyframes are used to provide animations
       We make these settings for 4 image carousel.
       Make modification according to your needs. */
    @keyframes slideshow {
    0%  {left: 0;}
    10% {left: 0;}
    15% {left: -100%;}
    25% {left: -100%;}
    30% {left: -200%;}
    40% {left: -200%;}
    45% {left: -300%;}
    55% {left: -300%;}
    60% {left: -200%;}
    70% {left: -200%;}
    75% {left: -100%;}
    85% {left: -100%;}
    90% {left: 0%}
    }
    /* ----- end of slideshow stylings ----- */


/*esta contendrá el resultado de cada búsqueda */
.tarjeta {
    padding: 1.25rem;
    /*margin-inline-start: 7%;
    margin-inline-end: 7%;*/
    margin-top: 1em;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 3px;
}

.grid-tarjeta {
    display: grid;
    grid-template-columns: auto auto;
}

.tarjeta-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px;
    text-align: left;
}



.footer {
    margin-top: 7px;
    padding-top: 23px;
    padding-bottom: 42px;
    margin-inline: -10vw;
    background-color: lightgrey;
    text-align: center;
}
.firma {
    display: flex;
    align-items:center;
    justify-content: center;
}